<nav>
    <ul>
        <li><%= link_to 'Welcome', welcome_page_path %></li>
        <li><%= link_to 'About', me_page_path %></li>
        <li><%= link_to 'Contact', welcome_page_path %></li>
    </ul>
</nav>