/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "darkly/variables";
@import "bootstrap";
@import "darkly/bootswatch";

@import "rails_bootstrap_forms";

label.required:after {
  content:" *";
}

main {
  margin-top: 20px;
}

.alert-dismissible {
  padding-left: $alert-dismissible-padding-r;
}

body, html {
  background-color: #000000;
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar {
  display: flex;
  background-color: #000000;
  padding: 0 20px;
  margin-bottom: 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar li {
  padding: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar-brand svg {
  transition: transform 0.3s ease;
  width: 30vw; 
  height: 10vh;
  filter: drop-shadow(2px 4px 6px rgba(255, 255, 255, 0.7)); 
}

.navbar-brand svg:hover {
  transform: translateY(-5px); 
  filter: drop-shadow(4px 8px 12px rgba(255, 255, 255, 0.9));
}


.navbar-brand svg g:hover {
  transform: scale(1.1); 
  transition: transform 0.2s ease-in-out;
}

.nav-link {
  transition: transform 0.3s ease;
  width: auto;
  height: 10vh;
}

.nav-link:hover {
  transform: translateY(-5px); 
}

.intro-text {
  opacity: 0;
  transform: translateY(0px); 
  transition: opacity 1s ease, transform 1s ease; 
}

.intro-text.active {
  opacity: 1;
  transform: translateY(0);
}
